<div class="relative flex flex-wrap justify-end items-center z-[100] py-2 px-4 bg-primary-400 text-white">
    <%= link_to 'JApp', root_path, class: 'text-2xl'%>
    <input type="checkbox" style="display: none;" id="nav-button">
    <label for="nav-button" class="ml-auto capitalize cursor-pointer">
        <% if logged_in? %>
            <%= current_user.username %>
        <% else %>
            <span>Menu</span>
        <% end %>
        <span>&#9662;</span>
    </label>
    <div class="capitalize shadow-md" id="nav-menu">
        <% if logged_in? %>
            <%= link_to 'Account', user_show_path %>
            <%= button_to 'Log Out', logout_path, method: :delete%>
        <% else %>
            <%= link_to 'Log In', login_path %>
        <% end %>
    </div>
</div>
<div class="label-links | z-[2]">
  <%= link_to 'categories', categories_path, class: ("#{current_page?(categories_path) ? 'current' : ''} bg-[#0F548B]") %>
  <%= link_to 'tasks', tasks_path, class: 'bg-[#14A8FF]' %>
</div>
<%= yield %>
