<div class="flex flex-wrap justify-end gap-8 p-4 capitalize">
    <% if logged_in? %>
        <%= button_to 'logout', session_logout_path, method: :delete%>
    <% else %>
        <% if current_page?(root_path) %>
            <%= link_to 'login', login_path %>
            <%= link_to 'signup', signup_path, class: 'hyper-link' %>
        <% end %>
    <% end %>
</div>
<div class="flex flex-col justify-center text-center absolute inset-0 z-[-1] isolate">
    <div class="set-background" style="background-image: url('<%= asset_path('home-bg.jpg') %>'); background-position: center; background-size: cover;"></div>
    <%= yield %>
</div>