<% if @task && @task.errors.any? %>
<ul class="notices">
    <% @task.errors.full_messages.each do |message| %>
        <p class="error-message"><%= message %></p>
    <% end %>
</ul>
<% end %>


<%= form_with model: @task, scope: :task,  class: "paper | grow grid grid-cols-1 grid-row-[auto_repeat(4,1fr)] items-stretch gap-[18px] p-4 w-[min(500px,90%)]" do |form| %>
    <p class="uppercase text-xl bg-neutral-300 text-center border-y-2 border-black/40 opacity-90">Create a task</p>

<div class="bg-neutral-500/10 p-1 border-y-2 border-black/40 grid grid-cols-[min-content_auto]">
    <%= form.label :description, "description:", class: 'text-md uppercase' %>
    <%= form.text_field :description %>
</div>

<div class="bg-neutral-500/10 p-1 border-y-2 border-black/40 grid grid-cols-[min-content_auto_auto_auto] items-stretch gap-4">
    <%= form.label :deadline, "Deadline:", class: 'text-md uppercase' %>
    <%= form.date_select :deadline, include_blank: true, order: [:month, :day, :year], use_short_month: true, start_year: Date.today.year %>
</div>

<div class="bg-neutral-500/10 p-1 border-y-2 border-black/40 grid grid-cols-[min-content_auto]">
<%= form.label :category_ids, "Category:", class: 'text-md uppercase' %>
<%= form.select :category_ids, Category.all.collect {|c| [c.name, c.id]}, {include_hidden: false}, {multiple: true, class: 'js-example-basic-multiple'} %>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('.js-example-basic-multiple').select2();
  });
</script>


    <%= form.submit "\u{1F5F9} submit", class: 'text-4xl font-hand cursor-pointer' %>
<% end %>