    <main class="new-task | flex flex-wrap justify-evenly items-start gap-8 p-8">

        <div class="grow grid grid-cols-[auto_80px] isolate">
            <div class="paper | font-hand grid grid-cols-[repeat(auto-fit,minmax(270px,1fr))] gap-[18px] z-[2] shadow-md min-h-[300px]" id="papertasks">

                <% if @solo_tasks %>
                    <ul class="p-4"  data-category="all">
                        <p class=" p-2 my-4 rounded-md bg-neutral-400/30"><span class="font-sans text-sm uppercase align-top mr-2">Title: </span><span class="underline"> </span></p>
                        <p class="font-sans text-xs uppercase underline font-semibold text-right  mt-[-0.75rem] mr-4 opacity-80">due date: </p>
                        <% @solo_tasks.each do |task| %>
                            <li class="text-2xl grid grid-cols-[auto_1fr_auto] items-center">
                              <% if task.completed %>
                              <%= button_to "\u{1F5F9}", task_complete_path(task.id), class: 'text-2xl mr-2', method: :put %>
                              <% else %>
                              <%= button_to "\u{2610}", task_complete_path(task.id), class: 'text-2xl mr-2', method: :put %>
                              <% end %>
                              <%= link_to task.description, task_show_path(task.id) %>
                              <% if task.deadline %>
                                  <span class="px-2 text-xl underline"><%= task.deadline.strftime("%b %e#{',' if task.deadline.year.present?} %Y") %>
                              <% end %>
                            </li>
                        <% end %>

                    </ul>
                <% end %>

                <% @categories.each do |category| %>
                <% if category.tasks.any? %>
                    <ul class="p-4"  data-category="<%= category.id %>">
                        <p class=" p-2 my-4 rounded-md bg-neutral-400/30"><span class="font-sans text-sm uppercase align-top mr-2">Title: </span><span class="underline text-4xl"><%= category.name %></span></p>
                          <p class="font-sans text-xs uppercase underline font-semibold text-right  mt-[-0.75rem] mr-4 opacity-80">due date: </p>
                        <% category.tasks.each do |task| %>
                            <li class="text-2xl grid grid-cols-[auto_1fr_auto] items-center">
                              <% if task.completed %>
                              <%= button_to "\u{1F5F9}", task_complete_path(task.id), class: 'text-2xl mr-2', method: :put %>
                              <% else %>
                              <%= button_to "\u{2610}", task_complete_path(task.id), class: 'text-2xl mr-2', method: :put %>
                              <% end %>
                              <%= link_to task.description, task_show_path(task.id), class: "text-2xl" %>
                              <% if task.deadline %>
                                  <span class="px-2 text-xl underline"><%= task.deadline.strftime("%b %e#{',' if task.deadline.year.present?} %Y") %>
                              <% end %>
                            </li>
                        <% end %>

                    </ul>
                <% end %>
                <% end %>
            </div>
            <div class="flex flex-col flex-wrap justify-start items-stretch my-4 font-sans text-white isolate z-[1]" id="paperlinks">
                    <%= link_to "All", "#", data: { category: "all" }, title: "All Tasks", class: "bookmark | max-h-[8ch] overflow-ellipsis whitespace-nowrap overflow-hidden p-2 w-full bg-[rgb(15,84,139)]" %>
                <% @categories.each do |category| %>
                <% colors = [
                    "#FFC107",
                    "#8BC34A",
                    "#2196F3",
                    "#9C27B0",
                    "#FF5722",
                    "#FF4136",
                ] %>
                    <%= link_to category.name, '#', data: { category: category.id }, title: category.name, class: "bookmark | max-h-[8ch] overflow-ellipsis whitespace-nowrap overflow-hidden p-2 w-full", style: "background-color: #{colors[rand(0..5)]};" %>
                <% end %>
                    <%= link_to "New Category", categories_path, class: "bookmark | max-h-[8ch] overflow-ellipsis whitespace-nowrap overflow-hidden p-2 w-full bg-[rgb(184,0,0)]" %>
            </div>
        </div>

        <div class=" w-[min(500px,90%)]">
        <div id="paperform" class="shadow-md flex items-stretch w-full mb-8">
            <%= render partial: 'tasks/paperform', locals: {task: Task.new} %>
        </div>
                  <div class="flex flex-col justify-start items-end gap-4 col-start-3 row-start-2 font-hand">
                    <!-- <%= link_to "view all tasks", tasks_path, class: 'paper | shadow-md text-2xl',  style: "transform: rotate(#{rand(-4..4)}deg);", onmouseover: "this.style.transform='rotate(0deg) translateY(-16%)';", onmouseout:"this.style.transform='rotate(#{rand(-4..4)}deg)'" %> -->
                    <!-- <%= link_to "new task", tasks_new_path, class: 'paper | shadow-md text-2xl',  style: "transform: rotate(#{rand(-4..4)}deg);", onmouseover: "this.style.transform='rotate(0deg) translateY(-16%)';", onmouseout:"this.style.transform='rotate(#{rand(-4..4)}deg)'" %> -->
                    <%= link_to "view all categories", categories_path, class: 'paper | shadow-md text-2xl',  style: "transform: rotate(#{rand(-4..4)}deg);", onmouseover: "this.style.transform='rotate(0deg) translateY(-16%)';", onmouseout:"this.style.transform='rotate(#{rand(-4..4)}deg)'" %>
                    <%= link_to "new category", categories_new_path, class: 'paper | shadow-md text-2xl',  style: "transform: rotate(#{rand(-4..4)}deg);", onmouseover: "this.style.transform='rotate(0deg) translateY(-16%)';", onmouseout:"this.style.transform='rotate(#{rand(-4..4)}deg)'" %>
                    </div>
        </div>
    </main>



