<p>new task test</p>

<% if @task.errors.any? %>
    <% @task.errors.full_messages.each do |message| %>
        <p><%= message %></p>
    <% end %>
<% end %>

<% if flash[:notice] %>
    <p><%= flash[:notice] %></p>
<% end %>

<%= form_with model: @task do |form| %>
    <%= form.label :description %>
    <%= form.text_field :description %>

    <%= form.label :deadline %>
    <%= form.date_select :deadline, include_blank: true, order: [:month, :day, :year], use_short_month: true %>

    <%= form.label :category_ids %>
    <%= form.collection_check_boxes :category_ids, Category.all, :id, :name %>

    <%= form.submit "create task" %>
<% end %>

<%= link_to "back to all tasks", tasks_path%>