<p><%= @task.id %></p>
<p><%= @task.description %></p>
<p><%= @task.deadline %></p>

<% if @task.completed %>
<p>completed</p>
<% end %>

<%= link_to "back to tasks", tasks_path %>
<%= link_to "edit task", task_edit_path %>
<%= button_to "delete task", task_delete_path, method: :delete%>
<%= link_to 'complete task', task_complete_path %>