  <main class="relative font-hand text-4xl flex flex-wrap justify-evenly items-start gap-4 p-4 ">

    <section class="grow w-[min(350px,90%)] grid grid-cols-1 grid-rows-[auto_1fr] gap-4">
      <p class="paper | shadow-md block text-5xl text-center">Priorities</p>
      <div class="paper | shadow-md min-h-[500px] bg-white rounded-lg ">
            <div class="grid grid-cols-2 place-items-center text-2xl underline">
            <span>task</span>
            <span>deadline</span>
        </div>
        <% @tasks.each do |task| %>
        <ul class="">
            <li class="grid grid-cols-[auto_1fr_1fr] gap-4 ml-2">
                              <% if task.completed %>
                              <%= button_to "\u{1F5F9}", task_complete_path(task.id), class: 'text-2xl mr-2', method: :put %>
                              <% else %>
                              <%= button_to "\u{2610}", task_complete_path(task.id), class: 'text-2xl mr-2', method: :put %>
                              <% end %>
                <%= link_to task.description, task_show_path(task.id), class: "#{task.completed ? 'line-through' : ''}"%>
                <% if task.deadline && !task.completed %>
                    <span class="text-xl  text-center mr-2"><%= task.deadline.strftime("%b %e#{',' if task.deadline.year.present?} %Y") %></span>
                <% end %>
            </li>
        </ul>
        <% end %>
      </div>
    </section>
    <section class="cork | w-[min(800px,90%)] grid grid-cols-3 grid-rows-[auto_repeat(auto-fill,minmax(300px,1fr))] items-center gap-4 grow-[2] isolate">
              <% colors_array = [
                "text-blue-500",
                "text-yellow-500",
                "text-orange-500",
                "text-red-500",
                "text-green-500",
                "text-indigo-500",
                "text-violet-500",
              ]%>
              <p class=" col-span-3 text-center uppercase flex flex-wrap gap-6 justify-center origin-center z-[2]" >
                <span class="paper | shadow-md rounded-none font-black <%= colors_array[rand(0..6)] %>" style="transform: rotate(<%= rand(-30..30)%>deg) scale(1.5)">f</span>
                <span class="paper | shadow-md rounded-none font-black <%= colors_array[rand(0..6)] %>" style="transform: rotate(<%= rand(-30..30)%>deg) scale(1.5)">a</span>
                <span class="paper | shadow-md rounded-none font-black <%= colors_array[rand(0..6)] %>" style="transform: rotate(<%= rand(-30..30)%>deg) scale(1.5)">v</span>
                <span class="paper | shadow-md rounded-none font-black <%= colors_array[rand(0..6)] %>" style="transform: rotate(<%= rand(-30..30)%>deg) scale(1.5)">o</span>
                <span class="paper | shadow-md rounded-none font-black <%= colors_array[rand(0..6)] %>" style="transform: rotate(<%= rand(-30..30)%>deg) scale(1.5)">r</span>
                <span class="paper | shadow-md rounded-none font-black <%= colors_array[rand(0..6)] %>" style="transform: rotate(<%= rand(-30..30)%>deg) scale(1.5)">i</span>
                <span class="paper | shadow-md rounded-none font-black <%= colors_array[rand(0..6)] %>" style="transform: rotate(<%= rand(-30..30)%>deg) scale(1.5)">t</span>
                <span class="paper | shadow-md rounded-none font-black <%= colors_array[rand(0..6)] %>" style="transform: rotate(<%= rand(-30..30)%>deg) scale(1.5)">e</span>
                <span class="paper | shadow-md rounded-none font-black <%= colors_array[rand(0..6)] %>" style="transform: rotate(<%= rand(-30..30)%>deg) scale(1.5)">s</span>
              </p>
              <% @categories.each do |category| %>
                <% if category.favorite %>
                    <ul class="sticky-note | max-h-[250px] overflow-auto list-disc p-4 z-[1]" style="transform: rotate(<%= rand(-5..5)%>deg)" >
                        <a class="title uppercase" href="<%= category_show_path(category.id)%>">
                          <%= category.name %>
                        </a>

                        <% category.tasks.each do |task| %>
                            <li class="ml-6 text-2xl <%= task.completed ? 'line-through' : ''%>">
                              <%= link_to task.description, task_show_path(task.id) %>
                            </li>
                        <% end %>

                    </ul>
                <% end %>
                <% end %>

                <div class="flex flex-col justify-start items-center gap-4 col-start-3 row-start-2">
                  <%= link_to "view all tasks", tasks_path, class: 'paper | shadow-md text-2xl self-end',  style: "transform: rotate(#{rand(-4..4)}deg);", onmouseover: "this.style.transform='rotate(0deg) translateY(-16%)';", onmouseout:"this.style.transform='rotate(#{rand(-4..4)}deg)'" %>
                  <%= link_to "new task", tasks_new_path, class: 'paper | shadow-md text-2xl self-end',  style: "transform: rotate(#{rand(-4..4)}deg);", onmouseover: "this.style.transform='rotate(0deg) translateY(-16%)';", onmouseout:"this.style.transform='rotate(#{rand(-4..4)}deg)'" %>
                  <%= link_to "view all categories", categories_path, class: 'paper | shadow-md text-2xl self-start',  style: "transform: rotate(#{rand(-4..4)}deg);", onmouseover: "this.style.transform='rotate(0deg) translateY(-16%)';", onmouseout:"this.style.transform='rotate(#{rand(-4..4)}deg)'" %>
                  <%= link_to "new category", categories_new_path, class: 'paper | shadow-md text-2xl self-start',  style: "transform: rotate(#{rand(-4..4)}deg);", onmouseover: "this.style.transform='rotate(0deg) translateY(-16%)';", onmouseout:"this.style.transform='rotate(#{rand(-4..4)}deg)'" %>
                </div>
    </section>
  </main>

