

<% if flash[:notice] %>
    <p><%= flash[:notice] %></p>
<% end %>

<%= form_with model: @category, scope: :category, class: 'flex flex-col' do |form| %>
    <p class="underline text-center">New Category</p>

    <%= form.label :name %>
    <%= form.text_field :name, class: 'bg-transparent border-t-0 border-x-0 border-dotted border-b-4 border-black' %>

    <%= form.label :description %>
    <%= form.text_field :description, class: 'bg-transparent border-t-0 border-x-0 border-dotted border-b-4 border-black' %>

    <%= form.submit "Post It!", class: 'mt-4 cursor-pointer'%>
<% end %>