
<main class="relative font-hand text-4xl flex flex-wrap justify-evenly items-start gap-4 p-4 ">
        <section class="grow w-[min(350px,90%)] grid grid-cols-1 grid-rows-[auto_1fr] gap-4">
      <p class="paper | shadow-md capitalize block text-5xl text-center"><%= @category.name %></p>
      <div class="paper | shadow-md min-h-[500px] bg-white rounded-lg ">
        <div class="grid grid-cols-2 place-items-center text-2xl underline">
            <span>task</span>
            <span>deadline</span>
        </div>
        <% @tasks.each do |task| %>
        <ul class="">
            <li class="grid grid-cols-[auto_1fr_1fr] gap-4 ml-2">
                <span>&#8226;</span>
                <%= link_to task.description, task_show_path(task.id), class: "#{task.completed ? 'line-through' : ''}"%>
                <% if task.deadline && !task.completed %>
                    <span class="text-xl text-center mr-2"><%= task.deadline.strftime("%b %e#{',' if task.deadline.year.present?} %Y") %></span>
                <% end %>
            </li>
        </ul>
        <% end %>



      </div>
    </section>
    <section class="cork | relative flex flex-wrap justify-center items-center gap-8 grow-[2]">
        <div class="sticky-note" style="transform: rotate(<%= rand(-5..5)%>deg)" >
            <p class="underline capitalize">description:</p>
            <p class="text-2xl"><%= @category.description %></p>
        </div>
        <div class="flex flex-col gap-4 text-center">
            <%= link_to "view All Categories", categories_path, class: 'paper | shadow-md text-2xl',  style: "transform: rotate(#{rand(-4..4)}deg);", onmouseover: "this.style.transform='rotate(0deg) translateY(-16%)';", onmouseout:"this.style.transform='rotate(#{rand(-4..4)}deg)'" %>
            <%= link_to "Edit Category", category_edit_path, class: 'paper | shadow-md text-2xl',  style: "transform: rotate(#{rand(-4..4)}deg);", onmouseover: "this.style.transform='rotate(0deg) translateY(-16%)';", onmouseout:"this.style.transform='rotate(#{rand(-4..4)}deg)'" %>
            <%= button_to "Delete", category_delete_path,  form: { class: 'paper | shadow-md text-2xl',  style: "transform: rotate(#{rand(-4..4)}deg);", onmouseover: "this.style.transform='rotate(0deg) translateY(-16%)';", onmouseout:"this.style.transform='rotate(#{rand(-4..4)}deg)'" } , method: :delete%>
        </div>
        <div class="flex flex-col gap-4 text-center">
            <%= link_to "view aLL tasks", tasks_path, class: 'paper | shadow-md text-2xl',  style: "transform: rotate(#{rand(-4..4)}deg);", onmouseover: "this.style.transform='rotate(0deg) translateY(-16%)';", onmouseout:"this.style.transform='rotate(#{rand(-4..4)}deg)'" %>
            <%= link_to "create new task", tasks_new_path, class: 'paper | shadow-md text-2xl',  style: "transform: rotate(#{rand(-4..4)}deg);", onmouseover: "this.style.transform='rotate(0deg) translateY(-16%)';", onmouseout:"this.style.transform='rotate(#{rand(-4..4)}deg)'" %>
        </div>
        <%= button_to "<i class='fa-#{@category.favorite ? 'solid' : 'regular'} fa-heart text-red-400 drop-shadow-md shadow-white rotate-[-4deg]'></i>".html_safe, category_favorite_path, form: {class:'absolute top-[90%] right-[5%]'} , method: :put %>

    </section>
</main>