<!DOCTYPE html>
<html>
  <head>
    <title>RubyJournal</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Reenie+Beanie&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <script src="https://kit.fontawesome.com/5569f7f53c.js" crossorigin="anonymous"></script>
    <%= javascript_importmap_tags %>
  </head>

  <body class="relative grid grid-cols-1 grid-rows-[min-content_1fr] min-h-[100vh] min-w-[320px] bg-neutral-200 isolate">
   <%= render partial: 'components/messages' %>
    <% if request.path.include?('/app') %>
    <header class="">
      <div class="relative flex flex-wrap justify-end items-center z-[100] py-2 px-4 bg-primary-400 text-white isolate">
          <%= link_to 'JApp', root_path, class: 'text-2xl'%>
          <input type="checkbox" style="display: none;" id="nav-button">
          <label for="nav-button" class="ml-auto capitalize cursor-pointer">
              <% if logged_in? %>
                  <%= current_user.username %>
              <% else %>
                  <span>Menu</span>
              <% end %>
              <span>&#9662;</span>
          </label>
          <div class="capitalize shadow-md" id="nav-menu">
              <% if logged_in? %>
                  <%= link_to 'Account', user_show_path %>
                  <%= button_to 'Log Out', logout_path, method: :delete%>
              <% else %>
                  <%= link_to 'Log In', login_path %>
              <% end %>
          </div>
      </div>
      <div class="label-links">
        <%= link_to 'categories', categories_path, class: ("#{request.path.include?('categories') ? 'current' : ''} bg-[#0F548B]") %>
        <%= link_to 'tasks', tasks_path, class: ("#{request.path.include?('tasks') ? 'current' : ''} bg-[#14A8FF]") %>
      </div>
    </header>
    <% end %>
      <%= yield %>
  </body>
</html>
